@import 'design-system';
@import 'Header';
@import 'TabsMenu';
@import 'SideMenu';
@import 'Home';
@import 'Destinations';
@import 'PageTitle';
@import 'Crew';
@import 'Pagination';
@import 'Technology';
@import 'PageTextContent';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
* img{
    max-height: 100%;
    max-width:  100%;
    // aspect-ratio: auto;
}
html{
    font-size: 62.5%;
}
#root{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-rows: max-content auto;
    justify-items: center;
    &:has(.home-bg)       { @include home-bg; }
    &:has(.destination-bg){ @include destination-bg; }
    &:has(.crew-bg)       { @include crew-bg; }
    &:has(.technology-bg) { @include technology-bg; }
}



.main{
    display: flex;
    @media screen and (max-width: 450px) {
        width: clamp(25rem, 87.2vw, 41rem);
    }
    @media screen and (min-width: 450px) and (max-width: 1024px){
        width: clamp(40rem, 89.59vw, 90rem);
    }
    @media screen and (min-width: 1025px) {
        width: clamp(90rem, 77.1vw, 120rem);
    }
}