@import 'design-system';
@import 'Header';
@import 'Navigations';
@import 'SideMenu';
@import 'Home';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
#root{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    filter: contrast(106%);
    @include flex(column, flex-start, center);
    @media screen and (max-width: 450px) {
        background-image: url(../assets/img/home/background-home-mobile.jpg);
    }
    @media screen and (min-width: 450px) and (max-width: 1025px){
        background-image: url(../assets/img/home/background-home-tablet.jpg);
    }
    @media screen and (min-width: 1025px) {
        background-image: url(../assets/img/home/background-home-desktop.jpg);
    }
}
.main{
    height: 100%;
    @media screen and (max-width: 450px) {
        padding: clamp(2rem, 7vw, 3.2rem) clamp(2.4rem, 5vw, 6rem);
    //     width: 100%;
    //     padding: 24px;
    }
    @media screen and (min-width: 450px) and (max-width: 1024px){
        // padding: 128px 40px;
        padding: clamp(3rem, 17vw, 12.8rem) clamp(2.4rem, 5vw, 6rem) 0 clamp(2.4rem, 5vw, 6rem);
    }
    @media screen and (min-width: 1025px) {
        padding: 128px 0;
    }
}