.header{
    width: 100%;
    height: $s-1200;
    @include flex(row, space-between, center);
    @media screen and (max-width: 767px) {
        height: auto;
        padding: 24px 0;
    }
    @media screen and (min-width: 1024px){
        margin-top: 4rem;
    }
}
.header__logo{
    width: $s-600;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin: 0 clamp(4rem, 4.5vw, 7rem);
    @media screen and (max-width: 450px) {
        margin: 0 clamp(1rem, 6.5vw, 3rem);
        width: $s-500;
    }
}
.header__side-menu{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    margin: 0 clamp(4rem, 4.5vw, 7rem);
    @media screen and (min-width: 767px){
        display: none;
    }
    @media screen and (max-width: 450px) {
        margin: 0 clamp(1rem, 6.5vw, 3rem);
    }
}

