.home{
    height: 100%;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 450px) {
        @include flex(column, flex-start, center);
        padding: clamp(2rem, 3vh, 3.2rem) 0;
    }
    @media screen and (min-width: 450px) and (max-width: 1024px){
        @include flex(column, center, center);
        gap: 7vh 0;    
    }
    @media screen and (min-width: 1024px) {
        height: auto;
        @include flex(row, space-between, center);
        align-self: flex-end;
        text-align: start;
        padding: 12.5vh 0;
    }
}
.home__text-wrapper{
    // @include flex(column, flex-start, center);
    // gap: 2.4rem 0;
    // @media screen and (min-width: 1025px) {
    //     @include flex(column, flex-start, flex-start);
    // }
    // @media screen and (min-width: 450px){
    //     width: clamp(40rem, 67vw, 54rem);
    // }
    // max-width: 54rem;
    @include text-wrapper-style(2.4rem, 54rem);
}
.button-wrapper{
    background-color: $white;
    width:  clamp(10rem, 39vw, 27.2rem);
    aspect-ratio: 1/1;
    border-radius: 100%;
    outline: 0 solid rgba(255, 255, 255, 0.13);
    transition: outline 1s;
    &:hover{
        outline: 88px solid rgba(255, 255, 255, 0.13);
        color: rgba(11, 13, 23, 0.5);
    }
}
.home__exploreBtn{
    display: block;
    width: 100%;
    height: 100%;
    @include flex(row, center, center); 
    text-align: center;
    color: $blue-900;
    text-transform: uppercase;
    @include text-preset-4;
}
