.home{
    width: 100%;
    height: 100%;
    text-align: center;
    @include flex(column, flex-start, center);
    @media screen and (min-width: 1024px){
        width: clamp(80rem, 77vw, 200rem);
        @include flex(row, space-between, center);
        text-align: start;
    }
}
.home__text-content{
    @include flex(column, flex-start, center);
    gap: 2.4rem 0;
    @media screen and (min-width: 450px){
        width: clamp(40rem, 67vw, 54rem);
    }
}
.home__text-sm{
    color: $blue-300;
    @include text-preset-9();
    @media screen and (max-width: 1024px) {
        @include text-preset-9-mobile();
    }
}
.home__text-md{
    text-transform: uppercase;
    color: $blue-300;
    @include text-preset-5();
    @media screen and (max-width: 450px) {
        @include text-preset-8();
    }
}
.home__text-lg{
    text-transform: uppercase;
    color: $white;
    @include text-preset-1();
    @media screen and (max-width: 450px) {
        @include text-preset-1-mobile();
    }
}
.button-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    @media screen and (min-width: 1024px){
        width: auto;
    }
}
.home__exploreBtn{
    width:  clamp(10rem, 39vw, 27.2rem);
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: $white;
}